<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025269170157-vivongh8rhgvsetif1baaehpqigt5a9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025269170157-vivongh8rhgvsetif1baaehpqigt5a9a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1025269170157-d0tq6uta9rp3jrtcns8hth1bps6rnvrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl6pIQgKsdsVgeP5QwKDkEh-KTGYiQCRk</string>
	<key>GCM_SENDER_ID</key>
	<string>1025269170157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.awesomekorean.newpodo</string>
	<key>PROJECT_ID</key>
	<string>podo-49335</string>
	<key>STORAGE_BUCKET</key>
	<string>podo-49335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025269170157:ios:bf1db4ca54970228fcf1e4</string>
</dict>
</plist>