<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Podo Korean.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>58</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
				<key>dateExpires</key>
				<string>9/29/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInAppMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>13.26.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>5.20.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libphonenumber_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.36</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>purchases_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>status_bar_control.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uni_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ADA052AE7032E32BED1700129442E33EEC080551</string>
						<key>dateExpires</key>
						<string>9/29/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YLMP9G3H49</string>
						<key>name</key>
						<string>Jeongwoo Park</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YLMP9G3H49.net.awesomekorean.newpodo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:newpodo.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>YLMP9G3H49</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c791afe8-ddba-4f4e-ad40-8ccaa82f296a</string>
				<key>dateExpires</key>
				<string>9/29/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: net.awesomekorean.newpodo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YLMP9G3H49</string>
				<key>name</key>
				<string>Jeongwoo Park</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.8</string>
		</dict>
	</array>
</dict>
</plist>
